# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

# Exclude OS X folder attributes
.DS_Store


# ----------------------------
*.h
*.la
*.o
*.c
*.gz
*.tgz
*.pc
*.rst
*.1
fetch-ocsp-response
